.card-projetos-container{
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 250px;
}
.card-projetos-container img{
  width: 400px;
  height: 200px;
  box-shadow: 1px 2px 5px #06090d18; 
  border-radius: 8px;
  background-color:#364659;
}
.card-projetos-container h1{
  text-align: center;
}
.card-projetos-container h4{
  text-align: center;
  margin-top: -15px;
}
.descricao p{
text-align:left;
}