
/* Color Theme Swatches in Hex */
.Energy-Open-Piazza-1-hex { color: #06090D; }
.Energy-Open-Piazza-2-hex { color: #121B26; }
.Energy-Open-Piazza-3-hex { color: #253140; }
.Energy-Open-Piazza-4-hex { color: #364659; }
.Energy-Open-Piazza-5-hex { color: #485B73; }

/* Color Theme Swatches in RGBA */
.Energy-Open-Piazza-1-rgba { color: rgba(5, 8, 12, 1); }
.Energy-Open-Piazza-2-rgba { color: rgba(17, 26, 38, 1); }
.Energy-Open-Piazza-3-rgba { color: rgba(36, 48, 63, 1); }
.Energy-Open-Piazza-4-rgba { color: rgba(54, 69, 89, 1); }
.Energy-Open-Piazza-5-rgba { color: rgba(72, 90, 114, 1); }

/* Color Theme Swatches in HSLA */
.Energy-Open-Piazza-1-hsla { color: hsla(213, 37, 3, 1); }
.Energy-Open-Piazza-2-hsla { color: hsla(213, 36, 11, 1); }
.Energy-Open-Piazza-3-hsla { color: hsla(213, 26, 19, 1); }
.Energy-Open-Piazza-4-hsla { color: hsla(213, 24, 28, 1); }
.Energy-Open-Piazza-5-hsla { color: hsla(213, 22, 36, 1); }



