@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Shadows+Into+Light&display=swap');


.nav-container{
  display: flex;
  flex-direction: row;
  background-color: #121B26;
  width: 1400px;
  justify-content:space-around;
  align-items: center;
}
.nav-container ul{
  display: flex;
  
}
.nav-container ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 15px;
  background-color: #485B73;
  list-style-type: none;
  margin: 5px;
  width: 120px;
  height: 25px;
  border-radius: 5px;
  color:#cfdff5;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 700;
}

.nav-container h1{
  font-family: 'Shadows Into Light', cursive;
  font-weight: 900;
  color: #cfdff5;
  font-size: 40px;
}